body {
    font-family: 'Gaegu', cursive;
    font-size: 1.2em;
    background: linear-gradient(0deg,rgba(224, 221, 221, 0.7),rgba(201, 201, 201, 0.7)), url("../images/mrrogers.jpg");
    background: no-repeat cover;
    background-attachment: fixed;
    background-position: center top;
}


h1 {
    font-family: 'Shrikhand', cursive;
    margin-top: 1em;
}

h4 {
    margin-top: 0.5em;
    font-family: 'Gaegu', cursive;
    font-size: 1.5em;
}

p {
    font-size: 5em;
}

.col-md-12 {
    margin-top: 0.7em;
}

#timer {
    font-family: 'Shrikhand', cursive;
}

.quiz-content {
    display: none;
}

.results-section {
    display: none;
    font-family: 'Shrikhand', cursive;
}

.results-section p {
    font-family: 'Gaegu', cursive;
    font-size: 1em;
}

.quote {
    font-family: 'Gaegu', cursive;
    font-weight: lighter;
}

#start {
    font-family: 'Shrikhand', cursive;
}

#submit {
    font-family: 'Shrikhand', cursive;
}

button {
    margin-bottom: 5%;
}

#reset {
    margin-bottom: 5%;
}
/* font-family: 'Shrikhand', cursive;
font-family: 'Gaegu', cursive; */